.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

node_modules
vendor

public/build
public/hot
public/storage
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php

tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache
pint.json
eslint.config.js
.prettierrc*
.editorconfig

.idea
.vscode
.DS_Store
Thumbs.db

docs
*.md
!README.md

analise-aplicacao-*.txt
